@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply input-bordered rounded-md border-base-300 !outline-none;
  @apply focus:outline-none focus:ring-1 focus:ring-primary;
}

.input-error {
  @apply input-bordered rounded-md border-error !outline-none;
  @apply focus:outline-none focus:ring-1 focus:ring-primary;
}

@components {
  .arrow,
  .arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  .arrow {
    visibility: hidden;
  }

  .arrow::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }
}
